# コンテナを実行するユーザーのUIDとGIDを指定します
# UIDとGIDは、ホストOSで `id -u` と `id -g` コマンドを実行して確認できます
UID=1000
GID=1000
TZ=Asia/Tokyo

# OpenObserve の初期設定
ZO_DATA_DIR=/data
ZO_ROOT_USER_EMAIL=root@root.root
ZO_ROOT_USER_PASSWORD=root
